<%- include('../layouts/layout', {
    title: 'Home',
    bodyClass: 'd-flex flex-column min-vh-100 overflow-hidden',
    headerType: 'default',
    body: `
        <main class="flex-grow-1 d-flex">
            <div id="mainContainer" class="container-fluid rounded-0 bg-light p-5">
                <h2 class="font-bold mb-2 fw-bold">Household Profiling</h2>
                <h5 class="text-secondary">Click "Start" to begin</h5>
                <a href="/survey" id="startProfilingBtn" class="btn btn-success w-full p-3"><i class="bi bi-envelope-paper-fill"></i> START PROFILING</a>
            </div>
        </main>
    `
}) %>